body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    position: sticky;
    top: 0;
    padding: 10px;

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    margin-right: auto;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: var(--dark);
}

.navbar-button {
    background-color: var(--dark);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.navbar-button:hover {
    background-color: var(--darker);
}

@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        margin-top: 10px;
    }

    .navbar-button {
        margin-left: 0;
        margin-top: 10px;
    }
}
